# Игнорировать медиафайлы
media/

# Игнорировать скомпилированные файлы Python
__pycache__/


# Игнорировать файлы и папки, связанные с виртуальной средой
.env
venv/
newenv/
# Игнорировать статические файлы, собранные с помощью Django
staticfiles/

# Игнорировать папки и файлы, связанные с Visual Studio Code
.vscode/

# Игнорировать специфические библиотеки (например, gunicorn)
gunicorn-23.0.0.dist-info/

# Игнорировать определенные исполняемые файлы
media/files/Telegram.exe

cred/

migrations/

templates/main.html
views/notis.py

*.pyc